.venv
models/**
data/**
vncorenlp/**
__pycache__/
*.pyc

models/**
models

certs

check_date.py
count_article_by_year.py

print_result_opt.py

import_data_to_db.py
thanhnien_articles_topic_sampled.csv